  

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Material Design Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
	
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
   <!-- <script src="http://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
   <!-- <script src="http://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>-->
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<link rel="stylesheet" href="../static/styles/styles.css">
	 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
	 <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="   crossorigin=""></script>
       <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link href="https://cdn.mapfit.com/v2-4/assets/css/mapfit.css" rel='stylesheet' />
    <script src="https://cdn.mapfit.com/v2-4/assets/js/tetragon.js"></script>
    <script src="https://cdn.mapfit.com/v2-4/assets/js/mapfit.js"></script>

   <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
	body{
	height: 100%;
	}
	
    </style>
	
	
	
	
	
  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title" id="title_page_to_get">Home</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search">
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">About</li>
            <li class="mdl-menu__item">Contact</li>
            <li class="mdl-menu__item">Legal information</li>
          </ul>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <img src="" class="demo-avatar">
          <div class="demo-avatar-dropdown">
            <span>hello@example.com</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item">hello@example.com</li>
              <li class="mdl-menu__item">info@example.com</li>
              <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
            </ul>
          </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link ___history_API___" onclick="load_content_on_the_page('main','/cars_to_show?id={{session['id']}}&connect={{session['connect']}}',1)"  ><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Cars</a>
          <a class="mdl-navigation__link ___history_API___" onclick="load_content_on_the_page('main','/parking_slots?id={{session['id']}}&connect={{session['connect']}}',2)" ><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>Parking Slots</a>
          <a class="mdl-navigation__link ___history_API___" onclick="load_content_on_the_page('main','/accidents?id={{session['id']}}&connect={{session['connect']}}',3)" ><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>Accidents</a>
          <a class="mdl-navigation__link ___history_API___" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">report</i>Stoled</a>
          <a class="mdl-navigation__link ___history_API___" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>Location</a>
          <a class="mdl-navigation__link ___history_API___" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>Redirection</a>
          <a class="mdl-navigation__link ___history_API___" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>Emergency</a>
          <a class="mdl-navigation__link ___history_API___" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Purchases</a>
          <a class="mdl-navigation__link ___history_API___" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>API</a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
        </nav>
      </div>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  
	  <script>
	
	
	 
	 
function updateURL(page) {
      if (history.pushState) {
          var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname +"?id={{session['id']}}&connect={{session['connect']}}"+ '&page='+page;
          window.history.pushState({path:newurl},'',newurl);
      }
    }
	function load_content_on_the_page(class_where_you_want_to_load_the_content,url_name,page){
		updateURL(page);
		$(class_where_you_want_to_load_the_content).load(url_name);
		
		return false;
		
	}
	
	
	
	  </script>
	  
	  
	  
	  
	   <main class="mdl-layout__content mdl-color--grey-100">
	  
	  
	  
	   </main>
	  
	  
	  
	  
	  <script>
	  
	   var array2={   
		"data":[ [1,"/cars_to_show?id={{session['id']}}&connect={{session['connect']}}"], [2,"/parking_slots?id={{session['id']}}&connect={{session['connect']}}"], [3,"/accidents?id={{session['id']}}&connect={{session['connect']}}"]]
		};
		url_string = location; //window.location.href
		var url = new URL(url_string);
		var page_number= url.searchParams.get("page");
	
		for(i=0;i<=array2.data.length-1;i++){
	
	
		if(page_number==array2.data[i][0]){
		$('main').load(array2.data[i][1]);
		
		updateURL(page_number);
		}	 
	 }
	  /*
	  
	   var load_history_global;
	  start_history_api(".___history_API___","main");
	 // function navigate_and_load_pages(navigate){
	//	var pages_names=["/profile"]
	//	onclick="navigate_and_load_pages(1)"	
	//*  } <script src="../static/scripts/before_login/history.js">
	$("#title_page_to_get").html("Home");
function start_history_api(class_name,load_history){
	jQuery('document').ready(function(){
			 
			jQuery(class_name).on('click', function(e){
				e.preventDefault();
				var href = $(this).attr('href');
				 
				// Getting Content
				getContent(href, true);
				 
				jQuery(class_name).removeClass('active');
				$(this).addClass('active');
			});
			 
		});
		 console.log(load_history,class_name);
		 load_history_global=load_history;
		// Adding popstate event listener to handle browser back button  
		window.addEventListener("popstate", function(e) {
			 
			// Get State value using e.state
			
			getContent(location.pathname, false,load_history);
		});
	}
     
    function getContent(url, addEntry,load_history) {
        $.get(url).done(function( data ) {
             
            // Updating Content on Page
			
            $(load_history_global).html(data);
			
             console.log(load_history_global);
            if(addEntry == true) {
                // Add History Entry using pushState
                history.pushState(null, null, url); 
            }
             
        });
    }
	  
	  */
	  </script>
	  
	 