<html>
  <head>
    <!-- Material Design Lite -->
   
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!--my css-->
	<link rel="stylesheet" href="../static/styles/style_login.css">
	
<title>Home</title>
  </head>
  <body>
  
  <video autoplay muted loop id="myVideo">
  <source src="../static/site_images/homepage.webm" type="video/mp4">
</video>
  
  <div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">EnergySaver</span></br>
	  
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
	  	<a class="mdl-navigation__link color_for_menu historyAPI activate_click" href="/login">Home</a>
        <a class="mdl-navigation__link color_for_menu historyAPI" href="home.html">About</a>
        <a class="mdl-navigation__link color_for_menu historyAPI" href="home.html">Documentation</a>
        <a class="mdl-navigation__link color_for_menu historyAPI" href="/pricing">Pricing</a>
        <a class="mdl-navigation__link color_for_menu historyAPI" href="home.html">help</a>
      </nav>
    </div>
  </header>
  
 
</div>
  
  
  
   <div id="main_page_part">
   
   
   </div>
	
  </body>
</html>
<div class="loader">
<center><div class=" loader_spinner mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div></center></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<!-- my javascript-->

<script src="../static/scripts/before_login/load_animation.js"></script>
<script src="../static/scripts/before_login/history.js"></script>
